
  <!---- ici mon article----->
  <div class="list-group">
  <a href="<%=user_path(@potin.user.id)%>" 
  class="list-group-item list-group-item-action active">
  <div class="d-flex w-100 justify-content-between">
  <h3 class="mb-1"><%= @potin.title %></h3>
  <br>
  <small><%= @potin.created_at.strftime("%Y/%m/%d")%></small>
  </div>
  <h4 class="mb-1"><%= @potin.content %></p></h4>
  <br>
  <h5>Posté par <%= @potin.user.first_name %></h5>
  <small>À <%= @potin.user.city.name%></small>
  <br>
    <% unless @potin.comments.empty? %>
      <h6><%= @potin.comments.count%> comment(s) </h6> <% end %>
    <% unless @potin.comments.empty? %>

<% end %>
  </a>
  </div>

  <!---- ici mon espace pour publier un commentaire----->

  <%= form_tag("/potins/#{@potin.id}/comments", method: "post") do %>
    <%= label_tag 'Comment'%>
    <%= text_area_tag 'content', @comment, class: 'form-control'%>
    <br>
    <%= submit_tag "Publier", class: "btn btn-primary"%>
    <% end %>

  <!---- ici les autres commentaires----->

		<% @potin.comments.each do |comment| %>
			<p class="mt-3"><%= link_to comment.user.first_name, user_path(comment.user.id), class: 'text-decoration-none' %><br>
			<i class="far fa-comment text-danger mr-2"></i><%= comment.content %></p>
		<% end %>
